body{
	background-color: #34495e;
	color: #bdc3c7;
	text-align: center;
	justify-content: center;
}
#top-div{
	text-align: center;
}
#quoteDisplay{
	text-align: center;
	font-weight: bold;
}
h1,h2{ 
	background: linear-gradient(to right, #bdc3c7, #f1c40f, #2ecc71);
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate-gradient 5s linear infinite;
}

@keyframes animate-gradient{
 0%{
	background-position: 0% center;
 }
 100%{
	background-position: 100% center;
 }
}


#svgChakra {                                     
	width: 30vh;    
	height: 30vh;
	padding-top: 0vh;
}
.slice {
	cursor: pointer;                                  transition: fill 0.3s;                   
}
.slice:hover {
       fill:#e74c3c;
}
#svgDaySelector {
	width: 5vh;
	height: 5vh;
	padding-bottom: 0vh;
}
#dayDiv{
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 0vh;
}
#taskInput{
	border: none;
	height: 3vh;
	font-size: 1.5vh;
	width: 60vw;
	border-radius: 2vh;
	background-color: #95a5a6;
	color: #e74c3c;
        text-align: center;
	font-weight: bold;
	font-style: italic;
	margin-right: 4vw;	
}
#inputDiv{
        display: flex;
        justify-content: center;                          text-align: center;
}
#addTask{
	height: 3vh;
	width: 6vw;
	border: none;
	border-radius: 2vh;
	background-color: #95a5a6;                        color: #e74c3c;                                   text-align: center;                               font-weight: bold;                                font-style: italic;
}
#taskView{
	display: flex;
        justify-content: center;
        text-align: center;
	color: #e74c3c;
	height: 30vh;
	width: 80vw;
	background-color: #95a5a6;
	border-radius: 5vh;
	margin-top: 1vh;
	margin-right: 10vw;
	margin-bottom: 1vh;
	margin-left: 10vw;
	font-weight: bold;
        font-style: italic;
}
